/*
Min Width Syntax : 
@include media-breakpoint-up(sm) {
  // Styles
}
Max Width Syntax :
@include media-breakpoint-down(sm) {
  // Styles
}
Min & Max :
@include media-breakpoint-between(sm, md) {
  // your code
}
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
.raleway-regular-base {
  font-family: "Raleway", sans-serif;
}

.poppins-regular-base {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  padding-top: 100px;
}
@media (max-width: 767.98px) {
  body {
    padding-top: 80px;
  }
}

.green {
  color: #0CE49F;
}

.blue {
  color: #38B6FF;
}

/* Importing Individual component SCSS */
header nav.navbar {
  min-height: 100px;
  background-color: white;
  color: black;
  z-index: 100;
}
header nav.navbar .navbar-brand {
  height: 100px;
  line-height: 100px;
}
header nav.navbar button.navbar-toggler {
  margin-right: 2rem;
}
@media (max-width: 991.98px) {
  header nav.navbar {
    padding: 0px;
  }
  header nav.navbar .navbar-collapse {
    background-color: white;
    text-align: center;
    border-bottom: 2px solid #585E68;
    padding-bottom: 25px;
  }
  header nav.navbar ul.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header nav.navbar ul.navbar-nav li:hover {
    background-color: #0CE49F;
    color: white;
  }
  header nav.navbar ul.navbar-nav li:after {
    border-bottom: 1px solid #0CE49F;
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 10%;
  }
}
header nav.navbar .navbar-brand {
  margin-left: 10%;
  margin-right: 5%;
  font-size: 28px;
  font-weight: 700;
  color: black;
  font-weight: 700;
  color: black;
}
@media (min-width: 768px) {
  header nav.navbar .navbar-brand {
    margin-left: 13%;
    margin-top: 0%;
    font-size: 38px;
  }
}
header nav.navbar .navbar-brand .green {
  color: #0CE49F;
}
header nav.navbar .nav-item {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 12px;
}
@media (max-width: 991.98px) {
  header nav.navbar .nav-item {
    font-size: 20px;
  }
}
header nav.navbar .nav-link {
  text-transform: uppercase;
  color: black !important;
  font-weight: 500;
  font-size: 18px;
}
header nav.navbar .book-a-free-class-btn {
  background: var(--unnamed-color-0fbd8c) 0% 0% no-repeat padding-box;
  background: #0FBD8C 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 13px;
  border-radius: 9px;
}
header nav.navbar .login-btn {
  background: var(--unnamed-color-38b6ff) 0% 0% no-repeat padding-box;
  background: #38B6FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 19px 20px #656D7441;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 16px;
  padding: 8px 40px;
  color: white;
  border-radius: 9px;
}
@media (max-width: 991.98px) {
  header nav.navbar .book-a-free-class-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  header nav.navbar .login-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px; 
    padding-right: 20px;
  }
}

footer {
    background: url(../../img/left-bubble.svg), url(../../img/right-bubble.svg), url(../../img/footer-bg.svg);
    background-size: 10% , 10% , 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: 7% 84%, 100% 29%, top;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
@media (max-width: 991.98px) {
  footer {
    background-color: #38B6FF;
    background-image: none;
  }
  footer .company-des:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    border-bottom: 2px solid white;
  }
  footer .footer-nav:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    border-bottom: 2px solid white;
  }
  footer .footer-nav {
    text-align: center;
  }
  footer .footer-nav ul {
    padding-left: 0px;
    padding-right: 0px;
  }
  footer .footer-nav ul li {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
footer .ft-main {
  max-width: 900px;
}
footer .ft-main-item .ft-title {
  font-weight: 600;
  font-size: 24px;
}
footer .company-des p {
  font-weight: 400;
  font-size: 11px;
} 
footer .ft-social-list {
  list-style: none;
  font-size: 20px;
}
footer .ft-social-list i {
  color: #FFFFFF;
}
footer .ft-nav ul {
  list-style: none;
  font-size: 16px;
}
footer .ft-nav ul li a {
  color: #ffffff;
}
footer .ft-nav ul li a:hover {
  font-weight: 600;
  text-decoration: none;
}
footer .company-contact i {
  font-size: 18px;
}

body {
  height: 100%;
}

.contact-us-wrapper {
  background-color: #0FBD8C;
  color: white;
  background-image: url("../../img/contact-us-hero.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 767.98px) { 
  .contact-us-wrapper { 
    background-position: 30% 110%;
    background-size: 437px;
    padding-bottom: 240px;
    background-image: url(../../img/contact-girl-phone.svg);  
  }
}
@media (min-width: 1025px){
.contact-us-wrapper .contact-us-container {
  margin-left: 150px;
}
    .contact-us-wrapper {
  background-color: #0FBD8C;
  color: white;
  background-image: url("../../img/contact-us-hero.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 55%;
  padding-top: 20px; 
  padding-bottom: 20px;
}
}

@media (max-width: 767.98px) {
  .contact-us-wrapper .contact-us-container {
    margin-left: 5px;
  }
}
.contact-us-wrapper .get-in-touch {
  font-size: 12px;
}
.contact-us-wrapper .contact-us {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 0px;
}
.contact-us-wrapper .contact-us-hr {
  border-bottom: 2px solid white;
  width: 40px;
  text-align: left;
}
.contact-us-wrapper .contact-us-list .contact-us-list-item {
  width: fit-content;
  border: 1px solid #dee2e647;
}
.contact-us-wrapper .contact-us-list .contact-us-list-item i {
  color: #FFBF00;
}
.contact-us-wrapper .contact-us-whatsapp-btn {
  background: #10E6A1 0% 0% no-repeat padding-box;
  box-shadow: 0px 19px 20px #656D7441;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
.contact-us-wrapper .contact-us-request-callback-heading {
  font-weight: 700;
}
.contact-us-wrapper #callback-phone {
  border-radius: 50px;
  background: transparent;
  color: white;
  border: 1px solid white;
}
.contact-us-wrapper .callback-phone-submit-btn {
  background: var(--unnamed-color-38b6ff) 0% 0% no-repeat padding-box;
  background: #38B6FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 19px 20px #656D7441;
  width: 120px;
  height: 36px;
  color: white;
  font-weight: 500;
}

.contact-form {
  background-image: url("../../img/contact-us-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.contact-form .contact-form-sub-heading {
  font-size: 12px;
}
.contact-form .contact-form-submit-btn {
  background: var(--unnamed-color-ffbf00) 0% 0% no-repeat padding-box;
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  width: 120px;
  height: 36px;
  color: white;
  font-weight: 500;
}

.about-us-container-fluid {
  background-image: url("../../img/bg-blue-box.svg"), url("../../img/bg-yellow-box.svg");
  background-repeat: no-repeat, no-repeat;
    background-position: 0% 1000px, 100% 200px;
    background-size: 1100px 1000px, 1100px 1302px; 
}

@media (max-width: 767.98px) {
  .about-us-container-fluid {
    background-image: url("../../img/bg-blue-box.svg"), url("../../img/bg-yellow-box.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 70.5%, 300% 3.5%;
    background-size: 143%, 80%;
  }
  

}

.about-codeshala .about-codeshala-heading {
  color: #545469;    
}

@media (min-width: 767.98px){
.about-codeshala .about-codeshala-heading {
  color: #545469;   
    margin-top: 100px !important;
    margin-bottom: 40px!important; 
}
    .about-codeshala .about-codeshala-text {
  font-size: 18px; 
}
    
}
.about-codeshala .about-codeshala-text {
  color: #8B8B9C;  
}
.about-codeshala .about-codeshala-img {
  border-radius: 50px;
}
@media (min-width: 768px) {
  .about-codeshala .btn-about-codeshala-know-more {
    width: 195px;
  }

.our-vision-section { 
    margin-top: 150px!important;
}
}

.our-vision-section {
  color: white;
}
@media (max-width: 767.98px) {
  .our-vision-section .our-vision-carousel {
    padding-left: 45px;
    padding-right: 45px;
  }
}
.our-vision-section .our-vision-img-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 450px;
}
.our-vision-section .book-a-free-class-btn {
  background: var(--unnamed-color-0fbd8c) 0% 0% no-repeat padding-box;
  background: #0FBD8C 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  font-family: "Montserrat";
    color: white; 
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 13px;
    border-radius: 9px; 
}
@media (max-width: 767.98px) {
  .our-vision-section .our-vision-heading {
    color: #545469;
  }
  .our-vision-section .our-vision-text {
    color: #545469;
  }
}


.our-teachers-section {
  color: white;
}
@media (max-width: 767.98px) {
  .our-teachers-section {
    color: #545469;
    text-align: center;
  }
}
.our-teachers-section .our-teachers-list {
  max-width: 900px;
}
.our-teachers-section .our-teachers-list .our-teachers-teacher-card .teacher-card-name {
  font-size: 14px;
}

.about-us-spacer {
  height: 25vh;
}

@media (max-width: 767.98px) {
  .about-us-spacer {
    height: 0px;
  }
}
.who-are-we-section .who-are-we-heading {
  color: #707070;
}
.who-are-we-section .who-are-we-text {
  color: #707070;
  font-size: 16px; 
}

.who-are-we-imgs {
  margin-bottom: -30px;
}
.who-are-we-imgs .who-are-we-img-laptop {
  max-width: 300px;
}
.who-are-we-imgs .who-are-we-img-iphone {
  max-width: 200px;
}
@media (max-width: 767.98px) {
  .who-are-we-imgs .who-are-we-img-laptop {
    max-width: 190px;
  }
  .who-are-we-imgs .who-are-we-img-iphone {
    max-width: 130px;
  }
  .who-are-we-imgs button.book-a-free-class {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.who-are-we-img-holder {
  background-color: #0CE49F;
}
.who-are-we-img-holder .book-a-free-class {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  margin-left: 10%;
}                
@media (max-width: 767.98px) {
  .who-are-we-img-holder .book-a-free-class {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.achievements-section {
  margin-left: auto; 
  margin-right: auto;
  max-width: 875px;
  margin-bottom: -55px;
    margin-top:120px !important;
}
.achievements-section .achievements-section-headline {
  text-transform: uppercase;
  color: #707070;
}
.achievements-section .achievements-section-achievements {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 50px #00000029;
  border-radius: 189px;
  z-index: 2;
  position: relative;
}
.achievements-section .achievements-section-achievements .achievements-section-achievement {
  font-size: 1.2em;
  color: #707070;
  padding-left: 10px;
  padding-right: 10px;
}
.achievements-section .achievements-section-achievements .achievements-section-achievement .number {
  font-size: 2em;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .achievements-section .achievements-section-headline {
    font-size: 1.7rem;
  }
  .achievements-section .achievements-section-achievements .achievements-section-achievement {
    font-size: 0.9em;
    color: #707070;
  }
  .achievements-section .achievements-section-achievements .achievements-section-achievement .number {
    font-size: 1.7em;
    font-weight: 700;
  }
}

.what-our-users-say-section {
  background-color: #0CE49F;
  padding-top: 70px;
  color: white;
  min-height: 400px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 1;
}
.what-our-users-say-section hr {
  width: 120px;
  border: 1px solid white;
}
.what-our-users-say-section .user-testimonial-cards-wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.what-our-users-say-section .user-testimonial-cards-wrapper .user-testimonial-card {
  border: 1px solid white;
  background-color: white;
  color: #585E68;
  font-size: 12px;
  padding: 2px;
  width: 380px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.what-our-users-say-section .user-testimonial-cards-wrapper .user-testimonial-card .user-testimonial-card-text {
  margin-top: -10px;
}
.what-our-users-say-section .user-testimonial-cards-wrapper .user-testimonial-card .quote-icon {
  padding: 13px;
  background-color: white;
  border: 1px solid lightgrey;
  position: relative;
  top: -20px;
  border-radius: 50px;
  font-size: 15px;
}
.what-our-users-say-section .user-testimonial-cards-wrapper .user-testimonial-card .user-testimonial-card-user-info h6 {
  font-size: 12px;
  margin-bottom: 1px;
  padding-left: 10px;
}

@media (max-width: 767.98px) {
  .what-our-users-say-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.free-class-section {
  background-image: url("../../img/book-a-free-class-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.free-class-section #book-a-free-class-submit-phone-input {
  border: 1px solid #38B6FF;
  border-radius: 44px;
  color: #38B6FF;
  margin-right: 35px; 
  max-width: 250px;
} 
.free-class-section .book-a-free-class-submit-btn {
  background: #38B6FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 19px 20px #656D7441;
  border-radius: 10px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.our-centers-fluid {
  background-image: url("../../img/bg-blue-square.svg"), url("../../img/bg-yellow-square.svg");
  background-repeat: no-repeat;
  background-position: left 3%, right 100%;
  background-size: 250px, 350px;
}

.our-centers-section .our-centers-heading {
  color: #545469;
}
.our-centers-section .our-centers-list-wrapper .our-center-card {
  box-shadow: 6px 10px 40px #00000029;
  background-color: white;
  border-radius: 25px;
  padding-left: 0px;
  padding-right: 0px;
  color: #545469;
}
.our-centers-section .our-centers-list-wrapper .our-center-card .our-center-card-img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: 230px;
  background-image: url("https://via.placeholder.com/300");
}
.our-centers-section .our-centers-list-wrapper .our-center-card-info h3 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.our-centers-section .our-centers-list-wrapper .our-center-card-info ul li {
  font-size: 14px;
}
.our-centers-section .our-centers-list-wrapper .our-center-card-info ul li i {
  font-size: 16px;
}
.our-centers-section .our-centers-list-wrapper .our-center-card-info .our-center-location-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-size: 12px;
  position: absolute;
  right: 10%;
  bottom: -5%;
}

.join-as-center-section {
  background-image: url("../../img/book-a-free-class-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.join-as-center-section #join-as-center-submit-phone-input {
  border: 1px solid #38B6FF;
  border-radius: 44px;
  color: #38B6FF;
  padding: 15px;
}
.join-as-center-section .join-as-center-submit-btn {
  background: #38B6FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 19px 20px #656D7441;
  border-radius: 10px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767.98px) {
  .join-as-center-section .join-as-center-submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.our-courses-heading {
  background: blue;
  width: 420px; 
  text-align: center;
  color: white;
  background: transparent linear-gradient(256deg, #0CE49F 0%, #38B6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 24px;
}
@media (max-width: 767.98px) {
  .our-courses-heading {
    max-width: 70%;
  }
  .our-courses-heading h1 {
    font-size: 2rem;
  }
}

.our-courses-list .our-courses-card {
  box-shadow: 6px 10px 40px #00000029;
  color: #545469;
  border-radius: 30px;
  min-width: 300px;
  padding-left: 0px;
  padding-right: 0px;
}
@media (max-width: 991.98px) {
  .our-courses-list .our-courses-card {
    min-width: 300px;
  }
}
.our-courses-list .our-courses-card .our-courses-card-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 180px;
  background-image: url("https://via.placeholder.com/300");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991.98px) {
  .our-courses-list .our-courses-card .our-courses-card-img {
    min-height: 180px;
  }
}
.our-courses-list .our-courses-card h5 {
  font-size: 25px;
}
.our-courses-list .our-courses-card ul {
  
    margin-left: 2.3%;
    font-size: 18px; 
    line-height: 35px;
}
.our-courses-list .our-courses-card ul li i {
  color: #26BD0F;
    font-size: 25px; 
    margin: 1%;
}
.our-courses-list .our-courses-card .discounted-price {
  font-size: 30px;
    padding: 15px 10px 15px 80px;
}
.our-courses-list .our-courses-card .original-price {
  font-size: 15px;
  font-style: italic;
  text-decoration: line-through;
  padding-bottom: 23px; 
}
.our-courses-list .our-courses-card .free-demo-btn {
  background: #0FBD8C 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 550;
  font-size: 16px;
    padding: 8px 13px;
    text-transform: uppercase;
  position: absolute;
  left: 8%;
  bottom: -5%;
}
.our-courses-list .our-courses-card .buy-now-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 550;
  font-size: 16px;
  padding: 8px 13px;
  text-transform: uppercase; 
  position: absolute;
  right: 8%;
  bottom: -5%;
}

.hero-section .hero-section-img {
  margin-top: 5%;
  margin-right:5%;
}
.hero-section .hero-section-img .yellow-box {
  background-color: #FFBF00;
  position: absolute;
  top: -4%;
  left: 10%;
  height: 350px;
  width: 350px;
  border-radius: 30px;
  z-index: 1;
}
.hero-section .hero-section-img .blue-box {
  background-color: #38B6FF;
  position: absolute;
  top: 4%;
  left: -4%;
  height: 350px;
  width: 350px;
  border-radius: 30px;
  z-index: 1;
}
.hero-section .hero-section-img img {
  z-index: 3;
  border: 40px solid;
  border-image: url("../../img/course-img-bg.svg");
  border-image-slice: 50 50;
}
.hero-section .what-you-will-learn {
  position: absolute;
  font-size: 13px;
  z-index: 3;
  background-color: #0CE49F;
  color: white;
  border-radius: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  max-width: 250px;
}
.hero-section .what-you-will-learn h4 {
    font-weight: 600;
    padding: 7% 0%;
    font-size: 24px;
}
.hero-section .what-you-will-learn ul li {
      margin: 5px 0px;
    font-size: 16px;
}
@media (max-width: 767.98px) { 
   .hero-section .hero-section-img { 
       margin-right:0%;
}
  .hero-section .hero-section-img img {
  z-index: 3;
  border: 20px solid;
  border-image: url("../../img/course-img-bg.svg");
  border-image-slice: 50 50;
}
  .hero-section .what-you-will-learn {
    position: relative;
    border-radius: 25px;
    padding: 10px 20px;
    max-width: 330px; 
    margin-left: auto;
    margin-right: auto;
  }
}
.hero-section .course-info {
  position: relative;
  left: 120px;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 20px;
  border-radius: 20px;
  color: #545469;
  box-shadow: 0px 5px 50px #00000029;
}
@media (min-width: 768px) {
  .hero-section .course-info {
    padding-right: 41px;
    padding-left: 152px;
  }
}
.hero-section .course-info .course-heading {
  text-transform: uppercase; 
    font-size: 2.5rem;
}
.hero-section .course-info .discounted-price {
  font-size: 30px;
  padding-bottom: 15px;
}
.hero-section .course-info .original-price {
  font-size: 15px;
  font-style: italic;
  text-decoration: line-through;
  padding-bottom: 15px;
}
.hero-section .course-info .free-demo-btn {
  background: #0FBD8C 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 550;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  left: 17%;
  bottom: -11%;
    padding: 8px 13px; 
}
@media (min-width: 768px) {
  .hero-section .course-info .free-demo-btn {
    left: 36%;
    bottom: -10%;
    }
}
.hero-section .course-info .buy-now-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 550;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute; 
  right: 17%;
  bottom: -11%;     
  padding: 8px 13px; 
}
@media (min-width: 768px) {
  .hero-section .course-info .buy-now-btn {
    right: 9%;
    bottom: -10%;
  }
}
@media (max-width: 767.98px) {
  .hero-section .course-info {
    left: 0px;
    margin-top: 0px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-section .course-info .discounted-price {
    padding-bottom: 5px;
  }
  .hero-section .course-info .original-price {
    padding-bottom: 5px;
  }
  .hero-section .course-info .free-demo-btn {
    left: 17%;
  }
} 
.hero-section .course-description {
  background-color: #38B6FF;
  color: white;
  border-radius: 30px;
}
.hero-section .course-description .course-description-text {
  font-size: 16px;  
}

.levels-of-the-course {
  color: #545469;
}

.level-cards-wrapper .level-card {
  box-shadow: 6px 10px 40px #00000029;
  border-radius: 30px;
  padding-left: 0px;
  padding-right: 0px;
  width: 250px;
  min-width: 250px;
}
.level-cards-wrapper .level-card .level-card-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 100px;
  background-image: url("https://via.placeholder.com/300");
  background-repeat: no-repeat;
  background-size: cover;
}
.level-cards-wrapper .level-card .level-card-heading {
  font-size: 18px;
}
.level-cards-wrapper .level-card ul {
  font-size: 14px;
}
.level-cards-wrapper .level-card ul li i {
  color: #38B6FF;
}
.level-cards-wrapper .level-card .level-info {
  font-size: 12px;
}
.level-cards-wrapper .level-card .level-info i {
  font-size: 15px;
}
.level-cards-wrapper .level-card .level-info i.level-desc {
  color: #0CE49F;
}
.level-cards-wrapper .level-card .level-info i.level-created-by {
  color: #FFBF00;
}
.level-cards-wrapper .level-card .level-info i.level-course {
  color: #38B6FF;
}
.level-cards-wrapper .level-card .buy-now-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  right: 10%;
  bottom: -5%;
}

.our-students-achievers-section {
  padding-left: 150px;
  padding-right: 150px;
  color: #545469;
}
@media (min-width: 768px) {
  .our-students-achievers-section {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (max-width: 767.98px) {
  .our-students-achievers-section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .our-students-achievers-section .our-students-achievers-headline h1 {
    font-size: 1.8rem;
  }
}
.our-students-achievers-section .our-students-achievers-headline {
  background: transparent linear-gradient(259deg, #0CE49F 0%, #38B6FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  color: white;
    max-width: 712px;
    height: auto;
}
.our-students-achievers-section .our-students-achievers-card-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card {
  box-shadow: 0px 10px 10px #00000029;
  border-radius: 30px;
  padding-left: 0px;
  padding-right: 0px; 
  width: 267px;
  min-width: 250px;
  margin-left: 35px;
  margin-right: 12px;
  background-color:white;
}
@media (min-width: 768px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card {
    width: 350px;
    min-width: 350px;
    height: 460px;
      background-color:white; 
  }
}
@media (max-width: 767.98px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card {
    margin-left: auto;
    margin-right: auto; 
  }
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .our-students-achievers-card-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 100px;
  background-image: url("https://via.placeholder.com/300");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .our-students-achievers-card-img {
    min-height: 170px;
  }
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-name {
  font-size: 18px;
}
@media (min-width: 768px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-name {
    font-size: 25px;
    font-weight: 700 !important;
  }
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card ul {
  font-size: 14px;
}
@media (min-width: 768px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card ul {
      text-align: left!important;
    margin-left: 19px;
    font-size: 18px;
    line-height: 35px;
  }
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card ul li i {
  color: #38B6FF;
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info {
  font-size: 12px;
}
}
@media (min-width: 768px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info {
    font-size: 18px;
  }
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info i {
  font-size: 15px;
}
@media (min-width: 768px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info i {
    font-size: 20px;
  }
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info .age {
  padding-right: 40px;
}
@media (min-width: 768px) {
  .our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info .age {
    padding-right: 76px;
  }
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info .age i {
  color: #FFBF00;
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info .class i {
  color: #0CE49F;
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .student-info .technology i {
  color: #38B6FF;
}
.our-students-achievers-section .our-students-achievers-card-wrapper .our-students-achievers-card .view-profile-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 13px;
  position: absolute;
  right: 10%;
  bottom: -5%;
}

.project-by-our-students {
  color: #545469;
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 767.98px) {
  .project-by-our-students {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.projects-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.project-cards-wrapper .project-card {
  box-shadow: 6px 10px 40px #00000029;
  border-radius: 30px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 250px;
  width: 250px;
  max-width: 250px;
}
.project-cards-wrapper .project-card .project-card-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 100px;
  background-image: url("https://via.placeholder.com/300");
  background-repeat: no-repeat;
  background-size: cover;
}
.project-cards-wrapper .project-card .project-card-heading {
  font-size: 18px;
}
.project-cards-wrapper .project-card ul {
  font-size: 14px;
}
.project-cards-wrapper .project-card ul li i {
  color: #38B6FF;
}
.project-cards-wrapper .project-card .project-info {
  font-size: 12px;
}
.project-cards-wrapper .project-card .project-info i {
  font-size: 15px;
}
.project-cards-wrapper .project-card .project-info i.project-desc {
  color: #0CE49F;
}
.project-cards-wrapper .project-card .project-info i.project-created-by {
  color: #FFBF00;
}
.project-cards-wrapper .project-card .project-info i.project-course {
  color: #38B6FF;
}
.project-cards-wrapper .project-card .buy-now-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  right: 8%;
  bottom: -5%;
}
.project-cards-wrapper .project-card .view-course-btn {
  background: #0CE49F 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #0FBD8C;
  color: white;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  left: 4%;
  bottom: -5%;
}

@media (min-width: 768px) {
  .index-fluid {
    background-image: url(../../img/bg-yellow-box.svg);
    background-repeat: no-repeat;
    background-position: 1175px -135px;
    background-size: 300px;
  }
}
.hero-section-fluid {
  padding-left: 0px;
  padding-right: 0px;
  background-image: url("../../img/why-codeshala-blue-box.svg");
  background-repeat: no-repeat;
  background-position: -100px;
  background-size: 200px;
}
@media (min-width: 768px) {
  .hero-section-fluid {
    background-position: 0px 30px;
  }
}

.hero-section {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #545469;
}
@media (min-width: 768px) {
  .hero-section .hero-text {
    margin-left: 85px;
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .hero-section .hero-subheading {
    padding-bottom: 25px;
  }
}
.hero-section .hero-img-wrapper {
  max-width: 400px;
}
.hero-section .hero-btn-book-a-free-class {
  background: #FFBF00B8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .hero-section .hero-btn-book-a-free-class {
    background: #FFBF00B8 0% 0% no-repeat padding-box;
    border-radius: 16px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 10px 0px -14px;
    padding: 12px 26px;
  }
}
.hero-section .hero-btn-contact-us {
  background: #E4E9EA 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .hero-section .hero-btn-contact-us {
    background: #E4E9EA 0% 0% no-repeat padding-box;
    border-radius: 17px;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 26px;
    margin-top: 12px;
    margin-left: 14px;
  }
}
@media (max-width: 767.98px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }
  .hero-section .hero-text {
    padding: 8% !important;
  }
}

.courses-section-fluid {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #0CE49F;
  background-repeat: no-repeat;
  min-height: 400px;
  color: white;
}
.courses-section-fluid .courses-top {
  height: 63px;
  background-image: url("../../img/courses-top-curve.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  background-position: bottom;
}
.courses-section-fluid .courses-bottom {
  height: 450px;
  background-image: url("../../img/courses-bottom-curve.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
}
@media (max-width: 767.98px) {
  .courses-section-fluid .courses-bottom {
    height: 130px;
  }
}
.courses-section-fluid .courses-overview {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.courses-section-fluid .courses-overview .courses-heading {
  color: white;
}
.courses-section-fluid .why-coding {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.courses-section-fluid .why-coding .why-coding-info {
  padding-bottom: 20px;
}
.courses-section-fluid .why-coding .why-coding-text {
  font-size: 15px;
}
.courses-section-fluid .why-coding .why-coding-img-wrapper {
  max-width: 500px;
}
@media (max-width: 767.98px) {
  .courses-section-fluid .why-coding .why-coding-img-wrapper {
    max-width: 90%;
  }
}
.courses-section-fluid .why-coding .why-coding-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 600;
  font-size: 12px;
}
@media (min-width: 768px) {
  .courses-section-fluid .why-coding .why-coding-btn {
    background: #FFBF00 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 20px #656D7441;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 26px;
    border-radius: 16px;
  }
}
@media (max-width: 767.98px) {
  .courses-section-fluid .why-coding h1 {
    font-size: 2rem;
  }
  .courses-section-fluid .why-coding .hero-text {
    padding: 8% !important;
  }
}

.our-locations-overview .our-locations-list .our-locations-location h5 {
  font-size: 20px;
    color: #545469;
}

.why-codeshala-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
@media (max-width: 767.98px) {
  .why-codeshala-fluid {
    background-image: url("../../img/why-codeshala-yellow-box.svg"), url("../../img/why-codeshala-blue-box.svg");
    background-repeat: no-repeat;
    background-position: 110% -17%, -15% 60%;
    background-size: 100px, 108px;
  }
}

.why-codeshala-section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url("../../img/why-codeshala-online.svg"), url("../../img/why-codeshala-students.svg"), url("../../img/why-codeshala-books.svg"), url("../../img/why-codeshala-yellow-box.svg"), url("../../img/why-codeshala-blue-box.svg");
  background-repeat: no-repeat;
  background-position: -0.3% 13%, 85% 30%, 90% bottom, 106% -353%, -1% 493px;
  background-size: 400px, 150px, 150px, 200px, 200px;
}
@media (max-width: 767.98px) {
  .why-codeshala-section {
    padding-top: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
  }
}
.why-codeshala-section .why-codeshala-heading {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #545469;
}
.why-codeshala-section .why-codeshala-video-section img {
  border: 20px solid;
  border-bottom: 60px solid;
  border-image: url("../../img/why-codeshala-border.svg");
  border-image-slice: 20 40 120 40;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .h1, h1 {
    font-size: 4rem;
  }

  .btn {
    box-shadow: 0px 20px 20px #656D7441 !important;
    font-weight: 600 !important;
    font-family: "Montserrat";
    font-size: 16px; 
    text-transform: uppercase; 
    border-radius: 9px;
  }

  .h6, h6 {
    font-size: 24px; 
    line-height: 27px;
  }
    .h3, h3 {
    font-size: 3rem; 
    color: #545469;
  }
    
}

.profile-fluid {
  font-family: "Poppins", sans-serif;
}
.profile-fluid .profile-hero-section-row {
  min-height: 70vh;
  background-color: #38B6FF;
  color: white;
}
.profile-fluid .profile-hero-section-row .container {
  margin-top: auto;
  margin-bottom: auto;
}
.profile-fluid .info-section-row {
  min-height: 824px;
}
.profile-fluid .info-section-row .about-us-col {
  background-color: #0CE49F;
  color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}
.profile-fluid .info-section-row .about-us-col .container {
  float: right;
}
.profile-fluid .info-section-row .about-us-col .container .student-img {
  background-color: white;
  z-index: 3;
  padding: 5px;
}
.profile-fluid .info-section-row .about-us-col .container .student-name {
  font-size: 2.2rem;
  font-weight: 700;
}
.profile-fluid .info-section-row .about-us-col .container .codeshala-achievements {
  font-size: 1.5rem;
}
.profile-fluid .info-section-row .about-us-col .container .student-stats {
  font-size: 1.3rem;
}
.profile-fluid .info-section-row .about-us-col .container .student-stats .number {
  font-size: 2.2rem;
   font-weight: 600;
}
.profile-fluid .info-section-row .about-us-col .container .student-stats .courses-count {
background-color: #ffbf00;
    border-radius: 26px;
    font-weight: 600;
    padding:11px;
    margin-right:6%;    
}
.profile-fluid .info-section-row .about-us-col .container .student-stats .projects-count {
  background-color: #38b6ff;
    padding:11px;
    border-radius: 26px;
    font-weight: 600;
}
.profile-fluid .info-section-row .about-us-col .container .about-me {
  padding-bottom: 20px;
}
.profile-fluid .info-section-row .about-us-col .container .about-me .about-me-heading {
  padding-top: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}
.profile-fluid .info-section-row .about-us-col .container .about-me .about-me-text {
  text-align: justify;
  line-height: 30px;
}
.profile-fluid .info-section-row .about-us-col .container .about-me .achievement-stats {
  font-weight: 600;
}
.profile-fluid .info-section-row .about-us-col .container .about-me .achievement-stats ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.profile-fluid .info-section-row .about-us-col .container .about-me .achievement-stats ul li i {
  padding-left: 2px;
  padding-right: 4px;
}
.profile-fluid .info-section-row .about-us-col .container .about-me .achievement-stats ul li .numbers {
  float: right;
}
.profile-fluid .info-section-row .about-us-col .container .student-particulars {
  font-size: 1.2rem;
  padding-top: 10px;
}
.profile-fluid .info-section-row .about-us-col .container .student-particulars ul li {
  margin-top: 8px;
  margin-bottom: 8px;
}
.profile-fluid .info-section-row .main-col {
  padding-top: 20px;
  color: black;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-heading, .profile-fluid .info-section-row .main-col .skills-info .skills-stats {
  font-size: 1.5rem;
  font-weight: 700;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-stats {
  float: right;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set {
  padding-top: 20px;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set {
  margin: 27px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set .skill-name-wrapper {
  width: 200px;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set .skill-name {
  display: inline;
  background-color: #C2F8E6;
  padding: 8px;
  border: 1px solid #0CE49F;
  border-radius: 5px;
  font-weight: 600;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set .skill-proficiency ul {
  margin-bottom: 0px;
    font-size: 30px;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set .skill-proficiency ul li {
  display: inline;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set .skill-proficiency ul li.filled {
  color: #FFBF00; 
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set .skill-proficiency ul li.empty {
  color: lightgrey;
}
.profile-fluid .info-section-row .main-col .skills-info .skills-set .skill-set .view-course-btn {
  background: #0FBD8C 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white;
  font-weight: 600;
  font-size: 12px !important;
}
.profile-fluid .info-section-row .main-col .projects-info {
  padding-top: 30px;
}
.profile-fluid .info-section-row .main-col .projects-info .projects-heading {
  font-size: 1.5rem;
  font-weight: 700;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper {
  padding-top: 10px;
  margin: auto 45px;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card {
  box-shadow: 6px 10px 40px #00000029;
  border-radius: 30px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 250px;
  width: 250px;
  max-width: 250px;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .project-card-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 100px;
  background-image: url("https://via.placeholder.com/300");
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .project-card-heading {
  font-size: 18px;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card ul {
  font-size: 14px;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card ul li i {
  color: #38B6FF;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .project-info {
  font-size: 12px;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .project-info i {
  font-size: 15px;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .project-info i.project-desc {
  color: #0CE49F;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .project-info i.project-created-by {
  color: #FFBF00;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .project-info i.project-course {
  color: #38B6FF;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .buy-now-btn {
  background: #FFBF00 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #FFBF00;
  color: white;
  font-weight: 600;
  font-size: 12px !important;
  position: absolute;
  right: 5%;
  bottom: -5%;
}
.profile-fluid .info-section-row .main-col .projects-info .project-cards-wrapper .project-card .view-course-btn {
  background: #0FBD8C 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #656D7441;
  color: white; 
  font-weight: 600;
  font-size: 12px !important;
  position: absolute;
  left: 4%;
  bottom: -5%;
}

